.app{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.videos{
    display: flex;
    flex-wrap: wrap;
}

.darkMode{
    background-color: rgb(18, 18, 18);
    color: white;
}
.lightMode{
    background-color:white; 
    color: black;
}