.dark{
    background: gray;
    color: white;
}
.parent{
    color:white;
    margin-left: 1rem;
    position: relative;
}
img{
    border: solid black;
    
    border-radius: 1rem;
}
.close{
    position: absolute;
    right: 0;
}
.edit{
    position: absolute;
    right: 2em;
}